
<% @users.inspect %>
<div class="container">
<h3>Revisa los usuarios creados</h3>
	<table class="table table-stripper table-hover">
		<thead>
			<tr>
			    <th></th>
				<th>Nombre</th>
				<th>Apellido</th>
				<th>Edad</th>
				<th>Email</th>
				<th>Permisos</th>
			</tr>
		</thead>
		<tbody>
		<% @users.each do |user| %>
		  <tr>
		    <td><%= link_to(image_tag(user.avatar.url(:small), class:'img-responsive'), edit_user_registration_path(:id), class:'img-avatar')%></td>
		    <td><%= user.name %></td>
		    <td><%= user.last_name %></td>
		    <td><%= user.age %></td>
		    <td><%= user.email %></td>
		  	<td><%= user.level_permission %></td>	
		 </tr>
		<%end%>
		</tbody>	
	</table>
</div>