<nav class="navbar navbar-inverse nav-style-gale">
  <div class="collapse navbar-collapse submenu" id="Navbar2">
  <div class="container">
   <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
            <% if current_user.level_permission === 3 %> <!--si User admin -->
                <li>
                  <%= link_to 'ver usuarios registrados',adminviews_path %>
                </li>
            <%end%>
            <li class="avatar-logeado">
             <%= link_to(image_tag(current_user.avatar.url(:small), class:'img-responsive'), edit_user_registration_path, class:'img-avatar')%>
            </li> 
            <li class="name-user-align">
            <span>Bienvenido: </span>
              <% if current_user.name === "" %><!--si nombre vacio -->
                Actualiza tus datos
               <%else%>
               <%= current_user.name %>
              <%end%>
            </li>
            <li>
               <%= link_to('Editar Perfil', edit_user_registration_path) %>
            </li>
            <li>
            <%= link_to('Cerrar sesión', destroy_user_session_path, :method => :delete) %>        
            </li>
          <% else %>
            <li>
              <%= link_to('Regístrate', new_user_registration_path)  %>
            </li>
            <li>
            <%= link_to('Ingresa', new_user_session_path)  %>  
            </li>
      <% end %>
      </ul>
      </div>
</div>
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      <a class="navbar-brand" href="#">Nombre del sitio</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">

      <ul class="nav navbar-nav navbar-right">
        <li class="active"><%= link_to "Home", root_path, class:'go'%></li>
        <li><%= link_to "Home", root_path, class:'go'%></li>
        <li><%= link_to "Home", root_path, class:'go'%></li>
        
      </ul>
    
    </div>

  </div>

</nav>
