<div class="back-login">  
<div class="cap-ingress"> </div>
  <div class="container">
    <div class="col-md-6 col-md-offset-3 bx-logger">  
      <h2 class="margin-botton-50">Ingresar</h2>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label :email, class:"label-gral" %><span class="obligatorio-input">*</span><br />
          <%= f.email_field :email, autofocus: true, class:"input-orange-gral" %>
        </div>

        <div class="field">
          <%= f.label :Contraseña %><span class="obligatorio-input">*</span><br />
          <%= f.password_field :password, autocomplete: "off", class:"input-orange-gral" %>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :Recordarme %>
          </div>
        <% end -%>

        <div class="actions align-butonera">
          <%= f.submit "Log in", class:"btn-global-submit btn-orange" %>
        </div>
      <% end %>
      <%= render "devise/shared/links" %>
      </div>
  </div>

</div><!--back-login-->
