/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body{
	font-family: 'Hind', sans-serif;
} 
nav.navbar.navbar-inverse.nav-style-gale {
    -webkit-box-shadow: 0px 6px 30px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 6px 30px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 6px 30px 0px rgba(0,0,0,0.1);
    background-color: rgba(255,255,255,1);
    border-color: transparent;
    margin: 0;
    border: none;
}
 .navbar-inverse .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: rgba(8, 8, 8, 0);
    color: #9c9c9c;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #F95F51;
    background-color: #ffffff;
}
.navbar-inverse .navbar-nav>.active>a{
	    color: #F95F51;
	background-color: rgba(8, 8, 8, 0);
	    font-size: 17px;
    font-weight: bold;	
}
 .navbar-inverse .navbar-nav>li>a:hover {
    color: #fff;
    background-color: transparent;
    color: #F95F51;
}
.navbar-inverse .navbar-nav>li>a {
    color: #9d9d9d;
    font-size: 17px;
    font-weight: 500;
}

h1,h2,h3,h4,h5,.label-gral {
    font-family: Poppins;
    font-weight: 600;
    font-style: normal;
    text-transform: none;
    letter-spacing: -1.5px;
    color: #000000;
}
h2{
    color: #000000;
	font-family: Poppins;
    font-weight: 600;
    font-style: normal;
    font-size: 48px;
    text-transform: none;
    line-height: 64px;
    letter-spacing: -2px;
}
.input-orange-gral{
	    -webkit-appearance: none;
    -moz-appearance: none;
    border: 1px solid;
    padding: 16px 20px;
    outline: none;
        color: #888888;
    margin: 0;
    width: 100%;
    font-size: 12px;
    margin-bottom: 20px;
    background: transparent;
    border-radius: 0;
    border-color: inherit;
    min-height: 42px;
        border: none;
    border-bottom: 1px solid;
        border-color: #d3d3d3;
}
input.btn-global-submit, .btn-global-submit{
	display: inline-block;
    padding: 1.250em 2.500em;
    line-height: 1.4;
    position: relative;
    -webkit-border-radius: 0;
    border-radius: 0;
    z-index: 2;
    vertical-align: top;
    margin-top: 3px;
    margin-bottom: 3px;
    outline: 0;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
    word-wrap: break-word;
    -webkit-appearance: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    -webkit-transition: color .5s ease, background-color .5s ease, border-color .5s ease;
    -moz-transition: color .5s ease, background-color .5s ease, border-color .5s ease;
    -o-transition: color .5s ease, background-color .5s ease, border-color .5s ease;
    -ms-transition: color .5s ease, background-color .5s ease, border-color .5s ease;
    transition: color .5s ease, background-color .5s ease, border-color .5s ease;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
        font-family: Poppins !important;
    font-weight: 600 !important;
    font-style: normal;
    font-size: 12px !important;
    text-transform: uppercase;
    letter-spacing: 0px;
    border: none
}
.btn-blank{
	border: 1px solid !important;
	background-color: transparent;
    border-color: #ffffff;
    color: #ffffff;
}

.btn-blank:hover		{
	background-color: #ffffff;
    border-color: #ffffff;
    color: #000000;
}
.btn-orange{
	border: 1px solid !important;
	background-color: transparent;
    border-color: #F95F51;
    color: #F95F51;
}
.btn-orange:hover		{
	background-color: #F95F51;
    border-color: #F95F51;
    color: #ffffff;
}

span.obligatorio-input {
    color: #F95F51;
    font-size: 15px;
    padding-left: 6px;
}
.container.float-special {
   
}
div#Navbar2 {
        background: #0e1212;
    padding: 0;
    margin: 0;
    border: none;
}

.back-login {
    width: 100%;
    height: 100%;
    display: inline-block;
    background-image: url('/assets/city-back.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
        min-height: 745px;
}
.cap-ingress {
    background-color: rgba(0,0,0,0.90);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    z-index: 1;
}
.bx-logger {
    z-index: 2;
    background: white;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 50px;
}
li.avatar-logeado img {
    width: 20%;
    float: right;
    display: inline-block;
}
li.name-user-align {
    font-weight: 500;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #f95f51;
}

li.name-user-align span {
    color: #9d9d9d;
}
.actions.align-butonera {
    text-align: center;
    margin: 20px 0;
}

/*=================margenes grales====================*/


.margin-botton-50{
	margin-bottom: 50px
}
.margin-botton-100{
	margin-bottom: 100px
}
.margin-botton-150{
	margin-bottom: 150px
}
/*================= /margenes grales====================*/